
.columns{
    border: 1px solid black;
    text-align: center;
}
/*----------------------------------------*/
/* CABEÇALHO */

#blog-titulo{
    font-size: 2rem;
    text-align: initial;
    font-weight: bold;
    display: flex;
}
#blog-slogan{
    font-size: 1.2rem;
    text-align: end;
}
/*----------------------------------------*/
/* PESQUISA */

#ul-pesquisa{
    justify-content: center;
}
#campo-pesquisar{
    width: 18rem;
}
/*----------------------------------------*/
/* ATALHOS */

.div-atalho{
    padding-top: 2rem;
}
/*----------------------------------------*/
/* LINKS VISITADOS */
.div-link{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#links-visitados{
    font-weight: bold;
    font-size: 1.5rem;
}
#link-visit{
    padding-bottom: 1rem;
}
/*----------------------------------------*/
/*ARTIGO*/
.artigo-titulo{
    font-size: 1.5rem;
    text-align: start;
    margin-bottom: 0px;
}
.artigo-data{
    font-size: 1rem;
    text-align: start;
}